.navbar ul li:hover {
    outline-style: solid;
    outline-width:1px;
    outline-color:white;
  
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.jumbotron {
    background-color:black !important;
    color:white !important;
}

#bigquestion {
    font-family:Roboto !important;
}

#maincontent4 {
    background-color: black;
    height:50%;
}

#sibebar0 {
    background-color: white;
    height:50%
}

#sidebar1 {
    background-color: red;
    height:25%
}

#maincontent3 {
    height:40%
}

