body {
    background-color: black;
}

.navbar ul li:hover {
    outline-style: solid;
    outline-width:1px;
    outline-color:white;
  
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.jumbotron {
    
    color:white !important;
    margin-left: 0% !important;
    background-image: url("Hero_Background2.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-color: black
}

#bigquestion {
    font-family:Roboto !important;
}

#maincontent4 {
    background-color: black;
    height:80%;
}

#sibebar0 {
    background-color: white;
    height:50%
}

#sidebar1 {
    background-color: red;
    height:35%
}

#maincontent3 {
    height:40%;
    padding-left:10%;
    padding-right:10%
}

#imgContainer {
    height:30px;
    width:150px;
    background-image:url("exotechlogosmall.png");
    background-size:auto;
    background-repeat: no-repeat;
}

#imgcontainer2 img {
    height:90px;
    width:80px

}

ul li {
    alignment:left;
    style:none;
    display:inline-block;
    border-left-style: none;
    border-right-style: none;
    border-top-style:none;
    padding-left:0
}

ul li input {
border-left-style: none;
    border-right-style: none;
    border-top-style:none;
    color:white;
    background-color:black
}

textarea {
   
    color:white;
    background-color:black
}

ul {
    padding-left: 0;
}

form {
    color:white;
    background-color: black
}

#customerinquiry {
    margin-left:30px;
}